<% content_for :title do %>
  FAQ | BnB Manager
<% end %>

		<section class="faq-content">

			<div class="content-wrap">

				<div class="container clearfix">

					<h1 class="heading-block center title-page">FAQ</h1>

					<p class="center">Vous avez une multitude de questions diverses en tête et vous ne trouvez aucune réponse ? Consultez la FAQ et trouvez votre bonheur !</p>

					<div class="divider"><i class="icon-circle"></i></div>

					<div class="col_half nobottommargin">

						<h4>Premier contact<small>(3)</small></h4>

						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Comment faire appel à vos services ?</div>
							<div class="acc_content clearfix">C’est très simple, il vous suffit de nous contacter en cliquant sur l'onglet 'contact' pour nous faire part de votre souhait d’être recontacté ou encore nous appeler au 04 93 00 00 01.</div>

							<div class="acctitle"><i class="acc-closed icon-phone3"></i><i class="acc-open icon-phone3"></i>Quels sont les horaires disponibles pour vous contacter par téléphone ?</div>
							<div class="acc_content clearfix">Nous sommes joignable du lundi au vendredi de 9h à 20h et le samedi de 10h à 18h. Vous pouvez nous contacter sur ces créneaux ou bien nous laisser un message, nous traiterons votre demande dès notre retour ! N'hesitez pas également à nous contacter par email à l'adresse bnbmanager.infos@gmail.com</div>

							<div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Comment se déroule le premier contact ?</div>
							<div class="acc_content clearfix">Nous nous déplaçons gratuitement à votre domicile afin de vous rencontrer, faire connaissance et vous expliquer notre fonctionnement. Nous profiterons de ce déplacement pour faire une visite détaillée de votre appartement et recueillir toutes les informations nécessaires pour recevoir vos voyageurs.</div>

						</div>

						<h4 class="topmargin">Zone de couverture géographique<small>(1)</small></h4>

					  <div class="accordion accordion-border clearfix" data-state="closed">

              <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Est-il possible de vous confier un logement situé en dehors de la Côte d'Azur ?</div>
              <div class="acc_content clearfix">BnB Manager est une jeune entreprise ambitieuse et dynamique. Cependant, notre secteur géographique ne couvre pour le moment que la Côte d'Azur ( de Monaco à Cannes ). Suite aux nombreuses demandes de clients intéréssés par nos services mais se trouvant en dehors de la Côte d'Azur, nous envisageons la possibilité d'étendre notre zone de couverture géographique dans un futur proche.</div>

              <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Dans quelles villes vos services sont ils disponibles ?</div> 
              <div class="acc_content clearfix">Pour le moment, nous proposons nos services dans un territoire géographique qui s'étend de Monaco à Cannes.</div>

            </div>
          
          </div>
					
          <div class="col_half nobottommargin col_last">

						<h4>Services et prestations<small>(3)</small></h4>

						<div class="accordion accordion-border clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-picture"></i><i class="acc-open icon-picture"></i>Est ce que le concierge réalise un état des lieux lors du départ des hôtes ?</div>
							<div class="acc_content clearfix">Oui. Votre concierge BnB Manager fait un état des lieux détaillé et vérifie avec attention l'état général de votre logement, mobilier et appareils ménagers inclus. Lors du check-out, votre concierge vérifie que votre appartement est en parfait état et qu'il n'a pas subi de dégradation notable. Si aucune arrivée de voageurs n’est prévue le jour même, il procède à la fermeture des fenêtres, l'extinction des lumières et du chauffage, la fermeture complète de votre logement. Note importante : Le concierge ne pourra en aucun cas être tenu responsable des dégâts constatés.</div>

							<div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Proposez vous des packs clés en main ?</div> 
							<div class="acc_content clearfix">Oui ! BnB Manager vous propose 3 packs tout-compris : classique, confort et VIP Premium - Le Pack classique comprend: accueil des voyageurs + départ des voyageurs + Ménage et remise en état du logement ( un panier de bienvenue est également offert à vos voyageurs ) - Le Pack confort comprend: accueil des voyageurs + départ des voyageurs + Ménage et remise en état du logement + fourniture du linge de maison ( un panier de bienvenue est également offert à vos voyageurs) - Le Pack VIP Premium comprend: Accueil des voyageurs + départ des voyageurs + Ménage et remise en état du logement + fourniture du linge de maison + gestion intégrale de vos annonces ( un panier de bienvenue Premium comprenant du champagne, du saumon fumé et des toasts est offert à vos voyageurs )</div>

							<div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Comment savoir si la location s'est bien déroulée ?</div>
							<div class="acc_content clearfix">Après chaque intervention, votre concierge BnB Manager vous adresse un rapport détaillé par mail pour vous tenir informé, vous donner les impressions de vos voyageurs sur le séjour, et dans l'éventualité d'une dégradation constatée, il s’occupe de faire un constat en prenant des photos.</div>

						</div>

						<h4 class="topmargin">Paiement et annulation<small>(2)</small></h4>

						<div class="accordion accordion-border nobottommargin clearfix" data-state="closed">

							<div class="acctitle"><i class="acc-closed icon-money"></i><i class="acc-open icon-money"></i>Comment s'effectue le paiement de vos prestations ?</div>
							<div class="acc_content clearfix">Selon vos préférences, nous vous laissons la possibilité de nous régler par virement, ou par le biais de notre partenaire Paypal.</div>

							<div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Quelles sont les conditions d'annulation ?</div>
							<div class="acc_content clearfix">Vous avez la possibilité d'annuler une prestation jusqu'à 24 heures avant le début de celle-ci et cela sans frais.</div>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->

