<section id="slider" class="slider-element slider-parallax" style="background: url('/assets/landing/landing1.jpg') no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">
  <div class="slider-parallax-inner">

    <div class="container clearfix">
      <div class="vertical-middle dark center">

        <div class="heading-block nobottommargin center">
          <h1>
            <span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">
              Canvas makes your Business <span class="t-rotate">Simple|Customizable|Flexible|Easy|Profitable</span>
            </span>
          </h1>
          <span class="d-none d-md-block">Learn how to grow your Awesome idea into a successful business.</span>
        </div>

        <a href="#" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Start Tour</span></a>

      </div>
    </div>
  </div>
</section>