<% content_for :title do %>
  Nos Packs | BnB Manager
<% end %>

<section id="content-packs">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="fancy-title title-dotted-border title-center">
        <h1>Nos Packs</h1>
      </div>

      <p class="text-justify">BnB Manager vous propose des packs clés en main dans le cadre de la gestion de vos locations. La tarification de ces packs est exprimée en pourcentage du montant des revenus générés par vos locations. Ainsi, si vos locations ont généré 1000 euros pour 10 nuitées, BnB Manager vous reversera 900 euros si vous avez opté pour le pack Classique, 850 euros pour le pack Confort, et 800 euros pour le pack Premium VIP.</p>

      <div class="row pricing bottommargin clearfix">

        <div class="col-md-4">

          <div class="pricing-box-1">
            <div class="pricing-title">
              <h3>Classique</h3>
            </div>
            <div class="pricing-price" id="pricing-number-1">
              10<span class="price-tenure">%</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Accueil et départ </strong>des voyageurs</li>
                <li><strong>Ménage</strong> et remise en état de votre logement</li>
                <li>Panier de bienvenue <strong>Classique</strong></li>
              </ul>
            </div>
            <div class="pricing-action" style="margin-bottom: 5px;">
              <a href="#" class="btn btn-danger btn-block btn-lg" id="button-price-1">Choisir ce pack</a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="pricing-box-2">
            <div class="pricing-title">
              <h3>Confort</h3>
            </div>
            <div class="pricing-price" id="pricing-number-2">
              15<span class="price-tenure">%</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Accueil et départ </strong>des voyageurs</li>
                <li><strong>Ménage</strong> et remise en état de votre logement</li>
                <li>Fourniture du <strong>linge de maison</strong></li>
                <li>Panier de bienvenue <strong>Confort</strong></li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color" id="button-price-2">Choisir ce pack</a>
            </div>
          </div>

        </div>

        <div class="col-md-4">

          <div class="pricing-box-3">
            <div class="pricing-title">
              <h3>VIP Premium</h3>
            </div>
            <div class="pricing-price" id="pricing-number-3">
              20<span class="price-tenure">%</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Accueil et départ </strong>des voyageurs</li>
                <li><strong>Ménage</strong> et remise en état de votre logement</li>
                <li>Fourniture du <strong>linge de maison</strong></li>
                <li>Panier de bienvenue <strong>VIP Premium</strong></li>
                <li><strong>Gestion complète</strong> de vos annonces</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="#" class="btn btn-danger btn-block btn-lg" id="button-price-3">Choisir ce pack</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>