<% content_for :title do %>
  Nos Tarifs | BnB Manager
<% end %>

<section id="prices-content">
  <div class="content-wrap">
    <div class="container clearfix">
      
      <div class="fancy-title title-dotted-border title-center">
        <h1>Nos Tarifs</h1>
      </div>
      
      <div class='line'></div>

      <div class="flex flex-wrap -m-3"> 
          
        <div class="w-full sm:w-1/2 lg:w-1/3 md:w-1/2 flex flex-col p-3">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
            <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1535450117817-f24e366873b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=711&q=80);"></div>
            <div class="p-4 flex-1 flex flex-col" style="">
              <h3 class="mb-4 text-2xl title-card">Accueil de vos hôtes</h3>
              <div class="mb-4 text-grey-darker text-sm flex-1">
                <ul class="text-list">
                  <li>Accueil chaleureux et personnalisé de vos voyageurs</li><br>
                  <li>Présentation de votre logement et de votre quartier</li><br>
                  <li>Etat des lieux d’entrée et de sortie</li><br>
                  <li>Fourniture de plans de la ville et d’horaires de bus</li><br>
                  <li>Remise et récupération des clés</li><br>
                  <li>Panier de bienvenue offert</li>
                </ul>
              </div>
              <div>
                <p class="border-t pt-2 text-xs price-text" style="">Tarif : 24.99 €</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 md:w-1/2 flex flex-col p-3">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
            <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1534152519866-4d57e8fc9bf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=770&q=80);"></div>
            <div class="p-4 flex-1 flex flex-col" style="">
              <h3 class="mb-4 text-2xl title-card">Ménage et remise en état</h3>
              <div class="mb-4 text-grey-darker text-sm flex-1">
                <ul class="text-list">
                  <li>Rangement complet de toutes les pièces</li><br>
                  <li>Aspirateur et nettoyage du sol dans tout le logement</li><br>
                  <li>Dégraissage intégral de la cuisine</li><br>
                  <li>Parfum d'ambiance vaporisé dans tout le logement</li><br>
                  <li>Assainissement de la salle de bain et des toilettes</li><br>
                  <li>Aération de l'habitat</li>
                </ul>  
              </div>
              <div>
                <p class="border-t pt-2 text-xs price-text" style="">Tarif : 29.99 €</p>
              </div>
            </div>
          </div>  
        </div>  
        <div class="w-full sm:w-1/2 lg:w-1/3 md:w-1/2 flex flex-col p-3 md-media">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
            <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1523471826770-c437b4636fe6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);"></div>
            <div class="p-4 flex-1 flex flex-col" style="">
              <h3 class="mb-4 text-2xl title-card">Linge de maison</h3>
              <div class="mb-4 text-grey-darker text-sm flex-1">
                <ul class="text-list">
                  <li>Kit "linge de maison" mis à la disposition de vos hôtes</li><br>
                  <li>Drapage de lit professionnel réalisé par nos équipes</li><br>
                  <li>Lavage du linge de maison au savon de Marseille biologique</li><br>
                  <li>Séchage</li><br>
                  <li>Repassage</li>
                </ul>
              </div>
              <div>
                <p class="border-t pt-2 text-xs price-text" style="">Tarif : 24.99 €</p>
              </div>
            </div>
          </div>  
        </div>

      </div><!-- end of flex flex-wrap -m-3 -->
    </div><!-- end of container clearfix -->

    <a href="/packs" class="button button-full center tright topmargin footer-stick">
      <div class="container clearfix">
        Découvrez nos packs clés en main <strong>ici</strong> <i class="icon-caret-right" style="top:4px;"></i>
      </div>
    </a>
    
  </div><!-- end of content-wrap -->
</section><!-- end of prices-content -->