<% content_for :title do %>
  Nos Tarifs | BnB Manager
<% end %>

<section id="prices-content">
  <div class="content-wrap">
    
    <div class="container clearfix">
      <div class="fancy-title title-dotted-border title-center">
        <h1>Nos Tarifs</h1>
      </div>









    </div>

  </div>

</section>



