<% content_for :title do %>
  Nos Tarifs | BnB Manager
<% end %>

<section id="prices-content">
  <div class="content-wrap">
    
    <div class="container clearfix">
      <div class="fancy-title title-dotted-border title-center">
        <h1>Nos Tarifs</h1>
      </div>
      <div class='line'></div>

      <div class="row justify-content-center">
        <div class="card-deck">
          <div class="card">
            <%= image_tag('prices/welcome.jpg') %>
              <div class="card-block">
                <div class='title-card'>
                  <h4 class="card-title text-center welcome">Accueil et départ de vos hôtes</h4>
                </div>
                <ul class="text-list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Accueil chaleureux et personnalisé de vos voyageurs
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Présentation de votre logement et de votre quartier
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Etat des lieux d’entrée et de sortie</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Fourniture de plans de la ville et d’horaires de bus</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Remise et récupération des clés</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Panier de bienvenue offert</li>
                </ul>
                <div class="price">
                  <p class="welcome-price"><strong>29.99 €</strong></p>
                </div>
              </div>
          </div>
          <div class="card">
            <%= image_tag('prices/clean.jpeg') %>
              <div class="card-block">
                <div class='title-card'>
                  <h4 class="card-title text-center welcome">Ménage et remise en état</h4>
                </div>
                <ul class="text-list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Rangement complet de toutes les pièces
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Aspirateur et nettoyage du sol dans tout le logement
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Dégraissage intégral de la cuisine</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Parfum d'ambiance vaporisé dans tout le logement</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Assainissement de la salle de bain et des toilettes</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Aération de l'habitat</li>
                </ul>
                <div class="price">
                  <p class="welcome-price"><strong>29.99 €</strong></p>
                </div>
              </div>
          </div>
          <div class="card">
            <%= image_tag('prices/towels.jpeg') %>
              <div class="card-block">
                <div class='title-card'>
                  <h4 class="card-title text-center welcome">Linge de maison</h4>
                </div>
                <ul class="text-list">
                  <li><i class="fa fa-check" aria-hidden="true"></i> Kit "linge de maison" mis à la disposition de vos hôtes
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Drapage de lit professionnel 
                  </li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Lavage</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Séchage</li> <br>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Repassage </li> <br> <br>
                </ul>
                <div class="price">
                  <p class="welcome-price"><strong>24.99 €</strong></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class='line'></div>

      
            <a href="/packs" class="button button-full center tright topmargin footer-stick">
            Découvrez nos packs clés en main <strong>ici</strong> <i class="icon-caret-right" style="top:4px;"></i>
            </a> 
      
        
       
  </div>

</section>
