<% content_for :title do %>
  Nos Tarifs | BnB Manager
<% end %>

<section id="prices-content">
  <div class="content-wrap">
    
    <div class="container clearfix">
      <div class="fancy-title title-dotted-border title-center">
        <h1>Nos Tarifs</h1>
      </div>
      <div class='line'></div>

      <div class="row">
        <div class="card-deck">
      <div class="card">
        <%= image_tag('prices/welcome.jpeg') %>
        <div class="card-block">
          <div class='title-card'>
          <h4 class="card-title text-center welcome">Accueil de vos hôtes</h4>
          </div>
          <ul class="text-list">
            <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Accueil chaleureux et personnalisé de vos voyageurs
            </li> <br>
            <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Présentation de votre logement et de votre quartier
            </li> <br>
            <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Etat des lieux d’entrée et de sortie</li> <br>
            <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Fourniture de plans de la ville et d’horaires de bus</li> <br>
            <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Remise des clés à vos hôtes</li> <br>
            <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Panier de bienvenue offert</li>
          </ul>
          <p class="welcome-price"><strong>19.99 €</strong></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</section>
