<% content_for :title do %>
  Nos Services | BnB Manager
<% end %>

    <!-- Content
    ============================================= -->
    <section id="services-content">

      <div class="content-wrap">

        <div class="container clearfix">
          <div class="fancy-title title-dotted-border title-center">
            <h1>Nos Services</h1>
          </div>
          <div class="line"></div>

          <div class="col_two_fifth topmargin nobottommargin">
            <%= image_tag('services/1.jpg', :class=> "responsive") %>
          </div>

          <div class="col_three_fifth nobottommargin col_last">

            <div class="heading-block">
              <h4>Accueil de vos hôtes</h4>
              <span>Nos concierges accueillent chaleureusement vos hôtes et restent disponibles pour les conseiller et les guider tout au long de leur séjour.</span>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i>
              A l'arrivée des voyageurs, accueil et visite du logement sont assurés 24h/24, 7j/7 par votre concierge.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Un état des lieux détaillé est réalisé lors de l'arrivée et du départ de vos hôtes.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Carte de la ville, horaires de bus et "bons plans" seront fournis dès l'arrivée de vos voyageurs.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Un panier de Bienvenue est offert lors de l'arrivée des voyageurs.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Lors du départ de vos voyageurs, votre appartement est fermé et une équipe de nettoyage prépare votre appartement pour la réception des voyageurs suivants.</li>
            </ul> 

          </div>

          <div class="line"></div>

          <div class="col_three_fifth">
            
            <div class="heading-block">
              <h4>Ménage et remise en état de votre logement</h4>
              <span>Une propreté irréprochable est essentielle pour une pleine satisfaction de vos hôtes.</span>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i>
              Un nettoyage complet (salon, chambre, cuisine, toilettes, etc…) sera assuré par notre équipe pour accueillir vos hôtes dans les meilleures conditions.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Les fenêtres seront ouvertes afin d’en aérer les lieux.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> L’aspirateur et la serpillère seront également passés dans chacune de vos pièces.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Enfin, les poubelles seront vidées et un nouveau sac de remplacement sera mis à disposition.</li> <br>
            </ul> 
              
          </div>
          <div class="col_two_fifth topmargin col_last">
              <%= image_tag('prices_images/2.jpg', :class=> "responsive") %>
          </div>

         <div class="line"></div>
          
          <div class="col_two_fifth topmargin nobottommargin">
            <%= image_tag('prices_images/03.png', :class => "responsive")%>
          </div>

          <div class="col_three_fifth nobottommargin col_last">

            <div class="heading-block">
              <h4>Linge de maison</h4>
              <span>* Votre linge de maison est lavé, séché et repassé entre chaque location par notre équipe de nettoyage.</span>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Collecte du linge sale entre chaque location</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Lavage</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Séchage</li> <br>
              <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Repassage</li>
            </ul>

            <p>* Le set "linge de maison" comprend un drap-housse, une housse de couette, deux taies d'oreillers, deux grandes serviettes, deux petites serviettes, un tapis de bain et un torchon.</p>

          </div>

          <div class="line"></div>
        </div>

        <a href="/packs" class="button button-full center tright topmargin footer-stick">
          <div class="container clearfix">
            Découvrez nos packs clés en main <strong>ici</strong> <i class="icon-caret-right" style="top:4px;"></i>
          </div>
        </a>

      </div>

    </section><!-- #content end -->

  </div><!-- #wrapper end -->