<% content_for :title do %>
  Nos Services | BnB Manager
<% end %>

    <!-- Content
    ============================================= -->
    <section id="services-content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
            <%= image_tag('prices_images/1.jpg') %>
          </div>

          <div class="col_three_fifth nobottommargin col_last">

            <div class="heading-block">
              <h4>Accueil de vos hôtes</h4>
              <span>Reports let you easily track and analyze your product sales, orders, and payments.</span>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

          </div>

          <div class="clear"></div><div class="line"></div>

          <div class="col_three_fifth">
            
            <div class="heading-block">
              <h4>Ménage et remise en état de votre logement</h4>
              <span>Après le départ de vos voyageurs, nos équipes BnB Manager assurent un nettoyage intégral de votre logement.</span>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i>
               Un nettoyage complet (salon, chambre, cuisine, toilettes, etc…) sera assuré par notre équipe pour accueillir vos voyageurs dans les meilleures conditions.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Notre équipe se chargera de dépoussiérer l’ensemble des surfaces ainsi que le mobilier et les étagères</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Les fenêtres seront ouvertes afin d’en aérer les lieux.</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> L’aspirateur et la serpillère seront également passés dans chacune de vos pièces</li> <br>
              <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Enfin, les poubelles seront vidées et un nouveau sac de remplacement sera mis à disposition.</li> <br>
            </ul> 
              
          </div>
          <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
              <%= image_tag('prices_images/2.jpg') %>
          </div>

          <div class="clear"></div><div class="line"></div>
          
          <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
            <%= image_tag('prices_images/03.png') %>
          </div>

          <div class="col_three_fifth nobottommargin col_last">

            <div class="heading-block">
              <h4>Linge de maison</h4>
              <span>Votre linge de maison est lavé, séché et repassé entre chaque location par notre équipe de nettoyage.</span>
            </div>
            <ul>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i>
               Gestion du linge de maison</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Collecte du linge sale entre chaque location</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Lavage</li> <br>
              <li><i class="fa fa-check" aria-hidden="true" style="color: #00d1b2"></i> Séchage</li> <br>
              <li><i class="fa fa-check" aria-hidden="true"style="color: #00d1b2"></i> Repassage</li> <br>
            </ul>

            <p>* Votre set linge de maison comprend un drap-housse, une housse de couette, deux taies d'oreillers, deux grandes serviettes, deux petites serviettes, un tapis de bain et un torchon.</p>

          </div>

          <div class="clear"></div><div class="line"></div>
        </div>

        <a href="/packs" class="button button-full center tright topmargin footer-stick">
          <div class="container clearfix">
            Découvrez nos packs clés en main <strong>ici</strong> <i class="icon-caret-right" style="top:4px;"></i>
          </div>
        </a>

      </div>

    </section><!-- #content end -->

  </div><!-- #wrapper end -->
