.btn-success-footer, .btn-success-footer:hover, .btn-success-footer:active, .btn-success-footer:visited {
  background-color: #00d1b2 !important;
  color: white !important;
}

#footer{
  .btn {
    background-color: #00d1b2 !important;
    color: white;
    border: transparent;
  }
  .engagements {
    margin-bottom: 40px !important;
    margin-top: -20px !important;
  }
}
