.btn-success-footer, .btn-success-footer:hover, .btn-success-footer:active, .btn-success-footer:visited {
    background-color: #00d1b2 !important;
    color: white !important;
}

#footer{
  abbr {
    text-decoration: none;
  }

  .btn {
    background-color: #00d1b2 !important;
    color: white;
    border: transparent;
  }
}