#prices-content {
  body {
  background: #eee;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
/*   outline: 1px solid #ccc; */
  }
/* Still use global css (not utility css) for base typography etc? */
  p {
  margin-bottom: 0.8em;
  }
  ul {
    list-style-type: none;
  }
  .price-text {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }

  .title-card {
    color: #00d1b2 !important;
  }
}


