#services-content {
  img {
    border-radius: 6px;
  }
  h4 {
    color: #00d1b2;
  }
  ul {
    list-style-type: none; 
  }
   .responsive {
    width: 100%;
    min-width: 33%;
    height: auto;
    min-height: 335px;
    margin-bottom: 40px;
  }
}


