<% @property.each do |property| %>
      <tr>
        <td><%= property.additional_content %></td>
        <%= link_to 'Voir', property %> <br />
      </tr>
<% end %>

<%= link_to 'Ajouter un logement', new_property_path %>
