.slider-parallax {
  .button.button-border {
    background-color: rgba(33, 33, 33, .7);
  }
  .d-none.d-md-block {
    background: rgba(33, 33, 33, .9);
  }
}

section#clients {
  .section {
    margin-top: 0;
    padding: 20px 0;
  }
}

section#main-heading {
  .content-wrap {
    padding: 40px 0;
  }
  h1 {
    color: #1ABC9C;
  }
}