<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <div style="display: inline-block; border: 1px solid #000; border-radius: 5px; position: relative; left: 20px; opacity: 0.8;"
    class="alert alert-success"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
      style="margin-left: 10px;">&times;</span></button>
    </div>
  <% elsif key == "alert" %>
    <div style="display: inline-block; border: 1px solid #000; border-radius: 5px; position: relative; left: 20px; opacity: 0.8;"
    class="alert alert-danger"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
      style="margin-left: 10px;">&times;</span></button>
    </div>
  <% else %>
    <div style="display: inline-block; border: 1px solid #000; border-radius: 5px; position: relative; left: 20px; opacity: 0.8;"
    class="alert alert-<%= key %>"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
      style="margin-left: 10px;">&times;</span></button>
    </div>
  <% end %>
<% end %>