<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <div class="alert-quick">
      <div class="flash-message alert alert-success"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
        style="margin-left: 10px;">&times;</span></button>
      </div>
    </div>
  <% elsif key == "alert" %>
    <div class="alert-quick">
      <div class="flash-message alert alert-danger"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
        style="margin-left: 10px;">&times;</span></button>
      </div>
    </div>
  <% else %>
    <div class="alert-quick">
      <div class="flash-message alert alert-<%= key %>"><%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
        style="margin-left: 10px;">&times;</span></button>
      </div>
    </div>
  <% end %>
<% end %>