<footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_third">

            <div class="col_one_third">

              <div class="widget clearfix" style="margin-top: -30px">

                <img src="images/footer-widget-logo.png" alt="" class="footer-logo">

                <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

                <div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
                  <address>
                    <strong>Siège Social</strong><br>
                    1 Avenue Jean Medecin<br>
                    Nice, 06000<br>
                  </address>
                  <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                  <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                  <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                </div>

              </div>

            </div>

            <div class="col_one_third">

              <div class="widget widget_links clearfix" style="margin-bottom: -20px">

                <ul>
                  <li><a href="/">Accueil</a></li>
                  <li><a href="/services">Services</a></li>
                  <li><a href="/prices">Tarifs</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="/about">A Propos</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
                </ul>

              </div>

            </div>

            <div class="col_one_third col_last">

              <div class="widget clearfix">
                <h4>Recent Posts</h4>

                <div id="post-list-footer">
                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>

                  <div class="spost clearfix">
                    <div class="entry-c">
                      <div class="entry-title">
                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                      </div>
                      <ul class="entry-meta">
                        <li>10th July 2014</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-lg-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="50" data-to="3722" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Biens en gestion</h5>
                </div>

                <div class="col-lg-6 bottommargin-sm">
                  <div class="counter counter-small"><span data-from="100" data-to="1578" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                  <h5 class="nobottommargin">Clients</h5>
                </div>

              </div>

            </div>

            <div class="widget subscribe-widget clearfix">
              <h5><strong>Inscrivez-vous</strong> à notre Newsletter et restez informé(e) de notre actualité &amp; de nos offres exceptionnelles:</h5>
              <div class="widget-subscribe-form-result"></div>
              <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                <div class="input-group divcenter">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="icon-email2"></i></div>
                  </div>
                  <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                  <div class="input-group-append">
                    <button class="btn btn-success-footer" type="submit">S'inscrire</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">
                <div class="col-lg-6 clearfix bottommargin-sm">
                  <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>                
                    <i class="icon-facebook"></i>                
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Likez-nous</strong><br>sur Facebook</small></a>
                </div>
                <div class="col-lg-6 clearfix">
                  <a href="#" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a href="#"><small style="display: block; margin-top: 3px;"><strong>Suivez-nous</strong><br>sur Twitter</small></a>
                </div>

              </div>

            </div>

          </div>

        </div><!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2018 Tous droits réservés par BnB Manager.<br>
            <div class="copyright-links"><a href="#">Conditions d'utilisation</a> / <a href="#">Politique de confidentialité</a></div>
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>

            <div class="clear"></div>

            <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span>
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->